.btn {
  font-size: var(--body-font-regular-md);
  font-weight: 700;
  padding: 0.75rem 1.75rem;
  border-radius: 0.5rem;
  transition: background-color 0.1s ease-in-out;
}

.btnPrimary {
  color: var(--color-neutral-0);
  background-color: var(--color-primary);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btnPrimary:active {
  background-color: var(--color-primary-hover);
  border-color: var(--color-primary-hover);
  box-shadow: 0rem 0rem 2rem 0rem var(--color-primary-hover);
  cursor: pointer;
}

.btnPrimary:focus {
  border-color: rgba(147, 197, 229, 0.25);
}

.btnPrimaryDisabled {
  color: var(--color-neutral-0);
  background-color: var(--color-primary-hover);
  opacity: 0.5;
  cursor: not-allowed;
}

.btnSecondary {
  border: 0.0625rem solid var(--color-primary);
  color: var(--color-primary);
  background-color: var(--color-neutral-0);
}

.btnSecondary:active {
  background-color: var(--color-primary-hover);
  cursor: pointer;
}

.btnSecondary:focus {
  border-color: var(--color-primary-hover);
}

.btnSecondaryDisabled {
  opacity: 0.5;
  background-color: var(--color-neutral-0);
  color: var(--color-primary);
  border: 0.0625rem solid var(--color-primary);
  cursor: not-allowed;
}
