.btn {
  font-size: var(--body-font-regular-md);
  font-weight: 700;
  padding: 0.75rem 1.75rem;
  border-radius: 0.5rem;
  transition: background-color 0.1s ease-in-out;
}

.btnPrimary {
  color: var(--color-white);
  background-color: var(--color-purple);
}

.btnPrimary:active {
  background-color: var(--color-purple-hover);
  border-color: rgba(99, 60, 255, 0.25);
  box-shadow: 0rem 0rem 2rem 0rem rgba(99, 60, 255, 0.25);
  cursor: pointer;
}

.btnPrimary:focus {
  border-color: rgba(147, 197, 229, 0.25);
}

.btnPrimaryDisabled {
  color: var(--color-white);
  background-color: var(--color-purple-hover);
  opacity: 0.5;
  cursor: not-allowed;
}

.btnSecondary {
  border: 0.0625rem solid var(--color-purple);
  color: var(--color-purple);
  background-color: var(--color-white);
}

.btnSecondary:active {
  background-color: var(--color-purple-hover);
  cursor: pointer;
}

.btnSecondary:focus {
  border-color: rgba(99, 60, 255, 0.25);
}

.btnSecondaryDisabled {
  opacity: 0.5;
  background-color: var(--color-white);
  color: var(--color-purple);
  border: 0.0625rem solid var(--color-purple);
  cursor: not-allowed;
}
