.containerEmailField {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 2.5rem;
}

.emailFieldInput {
  width: 30rem;
  height: 3rem;
  margin-right: 1rem;
}

.emailSubmitBtn {
  align-self: start;
  width: 100%;
}

@media (max-width: 768px) {
  .containerEmailField {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 80%;
  }

  .emailFieldInput {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0.6rem;
  }
}
