.containerEmailField {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5rem 0rem;
}

.emailFieldInput {
  width: 28rem;
  height: 3rem;
  margin-bottom: 1rem;
}

.emailSubmitBtn {
  display: flex;
  justify-content: center;
  align-self: start;
  min-width: 28rem;
  min-height: 51px;
}

@media (max-width: 768px) {
  .containerEmailField {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 80%;
  }

  .emailFieldInput {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0.6rem;
  }

  .emailSubmitBtn {
    display: flex;
    justify-content: center;
    align-self: start;
    min-width: 143px;
    min-height: 51px;
    width: 100%;
  }
}
