:root {
  --color-purple: #633cff;
  --color-purple-hover: #beadff;
  --color-light-purple: #efebff;
  --color-dark-grey: #333333;
  --color-grey: #737373;
  --color-borders: #d9d9d9;
  --color-light-grey: #fafafa;
  --color-white: #ffffff;
  --color-red: #ff3939;

  --body-font-regular-sm: 12px;
  --body-font-regular-md: 16px;
  --heading-font-bold-sm: 16px;
  --heading-font-bold-md: 32px;
}
