.containerInputTextField {
  position: relative;
}

.iconTexField {
  position: absolute;
  left: 0.6%;
  top: 30%;
  width: 16px;
  height: 16px;
  color: var(--color-grey);
}

.textField {
  padding: 6px 15px;
  font-size: var(--body-font-regular-md);
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  outline: none;
}

.textFieldNormal {
  border: 1px solid var(--color-borders);
}

.textFieldError {
  border: 1px solid var(--color-red);
  color: var(--color-red);
}

.textField:focus {
  box-shadow: none;
}

.textField:active {
  border-color: rgba(99, 60, 255, 0.25);
  box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
  cursor: pointer;
}

@media (min-width: 768px) {
  .textField,
  .textFieldError {
    width: 50%;
    padding: 6px 30px;
  }
}
