.containerInputTextField {
  position: relative;
}

.iconTexField {
  position: absolute;
  left: 0.375%;
  top: 30%;
  width: 1rem;
  height: 1rem;
  color: var(--color-grey);
}

.textField {
  padding: 0.375rem 0.9375rem;
  font-size: var(--body-font-regular-md);
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
  outline: none;
}

.textFieldNormal {
  border: 0.0625rem solid var(--color-borders);
}

.textFieldError {
  border: 0.0625rem solid var(--color-red);
  color: var(--color-red);
}

.textFieldErrorText {
  color: var(--color-red);
  font-style: italic;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  display: block;
}

.textField:focus {
  box-shadow: none;
}

.textField:active {
  border-color: rgba(99, 60, 255, 0.25);
  box-shadow: 0rem 0rem 2rem 0rem rgba(99, 60, 255, 0.25);
  cursor: pointer;
}

@media (min-width: 768px) {
  .textField,
  .textFieldError {
    padding: 0.375rem 1.875rem;
  }
}
