.buttonContent {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.childrenWrapper,
.spinnerWrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitBtnIcon {
  color: var(--color-neutral-0);
  width: 18px;
  height: 18px;
}

.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
