.buttonOAuthWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.iconOAuth {
  width: 16px;
  margin-right: 6px;
}

.buttonOAuth {
  padding: 0.65rem 0.5rem;
  font-size: 0.7rem;
}
